.box {
    background-color: blueviolet !important;
}

h2 {
    background-color: chartreuse;
}

#unicoBox {
    background-color: aquamarine;
}

.science-gothic {
    font-family: "Science Gothic", sans-serif;
    font-weight: 500;
}


/* Escenario plataformas */

.escenario {
    position: relative;
    width: 500px;
    height: 300px;
  /*   overflow: hidden; */
    border: 1px solid black;
}

.cielo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #87CEEB, #B0E0E6);
}

.sol {
    position: absolute;
    margin: auto;
    bottom: -37px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 80px;
    height: 80px;
    background: #ff7f00;
    border-radius: 50%;
    box-shadow: 0 0 40px #FFA500;
}

.nube {
    position: absolute;
    background: white;
    border-radius: 100px;
    opacity: 0.8;
}

.nube1 {
    top: 80px;
    left: 15%;
    width: 100px;
    height: 40px;
}

.nube2 {
    top: 120px;
    right: 20%;
    width: 120px;
    height: 45px;
}

.bosque-fondo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, #228B22, #355E3B);
}

.suelo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #8B4513;
    border-top: 5px solid #654321;
}

.pasto {
    position: absolute;
    bottom: 80px;
    width: 100%;
    height: 30px;
    background: #228B22;
}

.plataforma {
    position: absolute;
    background: #8B4513;
    border: 3px solid #654321;
    border-radius: 10px;
}

.plataforma1 {
    bottom: 200px;
    right: 15%;
    width: 200px;
    height: 25px;
}

.plataforma2 {
    bottom: 350px;
    left: 40%;
    width: 180px;
    height: 25px;
}

.plataforma3 {
    bottom: 40%;
    right: 10%;
    width: 220px;
    height: 25px;
}

.card-game {
    width: 300px; /*tamanio */
    border-radius: 20px; /* Redondear borde*/
    overflow: hidden; /* La imagen no salga del borde redondo*/
    position: relative;  /* Posicionar logo */
    margin: 50px auto; /* Centrar tarjeta a la pantalla */ 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra */ 

}

.card-header img {
    width: 100%;
    height: 200px; 
    object-fit: cover; /*No deformar imagen */
    display: block; /*Quitar espacio blanco*/
}

.card-logo {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background-color: #1a1a1d; /*fondo detras del logo */
    padding: 0px;
    

    /* POSICIONAMIENTO*/
    position: absolute; /*Salir flujo normal */
    top: 170px;
    left: 20px; /*SEPARACION DE LA IZQUIERDA*/
    z-index: 10; /*ENCIMA DE TODO*/ 
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);   
}

.card-logo img {
    width: 100%; /* OCUPAR TODO EL CONTENEDOR   */
    height: 100%;
}

/* Cuerpo del contenedor*/
.card-body{
    background: linear-gradient(135deg, #ff4b1f, #ff9068); /*Degradado naranja*/
    color: white; 
    padding: 40px 20px 20px 20px; /* Padding para dejar espacio al logo*/
    height: 120px;  /* area para el texto limpio */
}

.description {
    font-size: 14px;
    line-height: 1.4; 
    margin-bottom: 25px; /*Espacio antes del footer */
} 

/*Furer */
.card-footer {
    height: 30px;
    position: relative;
}

.fecha {
    font-size: 12px;
    opacity: 0.8;
    position: absolute; /* Pegado a la izquierda */
    left: 0;
    bottom: 0;
}

.link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    position: absolute; /* Pegado a la derecha */
    right: 0;
    bottom: 0;
    cursor: pointer;
}