* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* El contenido se mantenga en la misma especificacion de espacio */
}

body {
    background-color: #232323;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.text-style{
    font-family: monospace;
    font-size: 1rem; /* rem = 16px*/
    font-style: oblique;
    font-weight: bolder;
}

.purple{color: blueviolet;}
.orange{color: orange;}
.celeste{color: aqua;}

.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

.box{
    display: inline-block;
    /* width: 172px; 
  height: 38px; */
    background-color: blueviolet;
    padding: 10px 50px; 
  /* padding-right: 50%; */
    margin: 30px auto 50px auto;
    text-align: center;
    border: 6px solid white;
    border-radius: 10px;
}

.card-info{
    width: 50%;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto; /* PARA PONER EL RECUADRO EN MEDIO*/
    border-radius: 10px;
}

.fImage {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 10px;

}
.image-icon{
    width: 50px;
    border-radius: 50%; 
}

.shared-icon img{
    width: 30px;
    cursor: pointer;
}

.card-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    margin-top: 20px;               
}

.card-user-info{
    display: flex;
    gap: 10px;
}